.movie-list{
    max-width: 1200px; 
    margin: 20px auto; 
}
.movies-container {
  width: 100%;
  height: 180px;
  max-width: 1200px; 
  padding: 20px;
  margin: 20px auto; 
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(30, 30, 30, 0.45); 
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px); 
  border: 1px solid rgba(255, 255, 255, 0.12); 
  box-shadow: 2px 2px 6px rgba(242, 201, 76, 0.4);
  margin-bottom: 20px;
}
.welcome-banner {
  color: #ffffff;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.welcome-banner h3 {
  font-size: 28px;
  margin-top: 1px;
  color: #f2c94c;
}
.welcome-banner p {
  font-size: 16px;
  color: #cccccc;
}
.watchlistp{
   color: #f2c94c;
   margin-left: 70px;
   margin-top: 40px;
}
.watchlistbr{
   background-color: rgba(30, 30, 30, 0.45); 
   box-shadow: 2px 2px 6px rgb(242, 200, 76);
   height: 1px;
   max-width: 1100px;
   margin: 0 auto;
}
.cards {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;

}
.maincarousel {
  margin: 2rem auto;
  width: 90%;
  max-width: 1300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 2px 2px 6px rgb(242, 200, 76);
}
.carousel-inner img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  border-radius: 8px;
}
.carousel-caption h3{
  color: #f2c94c;
  margin: 0;
}
.carousel-caption p{
 color: #fff;
 margin: 0;
 
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* background-color: rgba(0, 0, 0, 0.6); */
  border-radius: 50%;
}
.carousel-indicators button {
  background-color: #555;
}
.carousel-indicators .active {
  background-color: #fff;
}
.pagination {
  display: flex;
  gap: 8px;
  padding: 20px 0;
}
.page-item .page-link {
  background-color: #111;         
  color: #f9d423;                 
  border: 1px solid #f9d423;
  padding: 4px 10px;             
  font-size: 13px;                
  border-radius: 4px;
  font-weight: 500;
  transition: all 0.3s ease;
}
.page-item .page-link:hover {
  background-color: #f9d423;      
  color: #111;              
  transform: scale(1.05);
  box-shadow: 0 2px 6px rgba(249, 212, 35, 0.5);
}
.page-item.active .page-link {
  background-color: #f9d423;
  color: #111;
  font-weight: bold;
  border-color: #f9d423;
  box-shadow: 0 0 10px rgba(249, 212, 35, 0.7);
}
.page-item.disabled .page-link {
  background-color: #222;
  color: #777;
  border-color: #555;
  cursor: not-allowed;
  opacity: 0.6;
}
.bthbtn {
    position: fixed;
    bottom: 72px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #161513;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    z-index: 1001;
    animation: moveUpDown 2s ease-in-out infinite;
}
.bthbtn:hover{
     color: #f99223;
     background-color: #f1ecd0;
     border: 1px solid #f99223;
} 
.error-container {
  text-align: center;
  padding: 20px;
}
.error-text {
  color: red;
  margin-bottom: 10px;
  font-weight: 600;
}
.retry-button {
  padding: 8px 16px;
  cursor: pointer;
  background-color: #ffcc00; 
  border: none;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}
.retry-button:hover {
  background-color: #e6b800;
}

@media (max-width: 768px) {
   .movies-container{
      text-align: start;
    }
  .welcome-banner {
    padding: 20px;
  }
  .welcome-banner h3 {
    font-size: 24px;
  }
  .welcome-banner p {
    font-size: 14px;
  }
   .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    max-width: 500px;      
    width: 100%;
    margin: 0 auto;        
  }
}
@media (max-width: 480px) {
  .movies-container{
    text-align: start;
    }
  .welcome-banner {
    padding: 15px;
  }
  .welcome-banner h3 {
    font-size: 20px;
  }
  .welcome-banner p {
    font-size: 12px;
  }
   .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
    max-width: 300px;      
    width: 100%;
    margin: 0 auto;        
  }
}


