.searchh5 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  margin-top: 40px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
.imgdiv {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.not-found-image {
  max-width: 90%;
  width: 400px;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);
  transition: transform 0.3s ease;
}
.not-found-image:hover {
  transform: scale(1.03);
}

.bthbtn {
    position: fixed;
    bottom: 72px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 10px 15px;
    background-color: #161513;
    color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    z-index: 1001;
    animation: moveUpDown 2s ease-in-out infinite;
}
.bthbtn:hover{
     color: #f99223;
     background-color: #f1ecd0;
     border: 1px solid #f99223;
} 